{% include 'partials/banner.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

    <h1>List of Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Profile Picture</th>
                <th>Date Joined</th>
                <th>Last Login</th>
                <th>Role</th> <!-- Added Role column -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture }}" alt="Profile Picture" width="50" height="50">
                    {% else %}
                        No Profile Picture
                    {% endif %}
                </td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td>
                    {% if user.is_superuser %}
                        Admin
                    {% elif user.is_staff %}
                        Staff
                    {% else %}
                        User
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete_user' user.id %}">Delete</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'promote_to_user' user.id %}">Demote to User</a>
                    {% elif user.is_staff %}
                        <a href="{% url 'promote_to_user' user.id %}">Demote to User</a>
                    {% else %}
                        <a href="{% url 'promote_to_staff' user.id %}">Promote to Staff</a>
                        <a href="{% url 'promote_to_admin' user.id %}">Promote to Admin</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
