{% include 'partials/banner.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>List Devices</title>
</head>
<ul>
    {% for device in devices %}
        <li>
            <a href="{% url 'edit_device_view' device.serial_number %}">{{ device.serial_number }}</a> -
            {% if device.is_reserved %}
                Reserved to: {{ device.reserved_to }}
            {% else %}
                Free
            {% endif %}
            <a href="{% url 'delete_device_view' device.serial_number %}" class="delete-button">Delete</a>
        </li>
    {% empty %}
        <li>No devices available.
    {% endfor %}
            <br>
            <br>
    <a href="{% url 'add_device' %}">Click here to add a device.</a></li>
</ul>
