{% include 'partials/banner.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilly | Experimental Devices Reservation List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}"> <!-- Link to your default.css -->
</head>
<body>
    <img src="{% static 'images/LillyLogo_RGB_Red.png' %}" alt="Lilly Logo" class="logo">
    <h1>Experimental Devices Reservation List</h1>
    <p>Welcome to the Lilly Experimental Devices Reservation List. Here, you can view and reserve various experimental devices available for use in your projects. Explore our selection and manage your reservations easily.</p>

    <a href="{% url 'free_devices' %}" class="link">Click here to view all the devices available to reserve.</a>
</body>
</html>
