{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimental Devices</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/banner.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon-32x32.png' %}" type="image/x-icon"> <!-- Link to your favicon -->
</head>
<body>
    <div class="banner-wrapper">  <!-- New wrapper class -->
        <div class="banner">
            <a href="{% url 'management' %}" class="banner-logo">
                <img src="{% static 'images/LillyLogo_White.png' %}" alt="Lilly Logo White" class="default-logo">
                <img src="{% static 'images/LillyLogo_Black.png' %}" alt="Lilly Logo Black" class="hover-logo">
                <span class="logo-text">| EDRL</span>
            </a>
            <div class="banner-buttons-left">
                <a href="{% url 'free_devices' %}" class="button">Available Devices</a>
                <a href="{% url 'management' %}" class="button">Reservation List</a>
                <a href="{% url 'management' %}" class="button">Survey Information</a>
            </div>
            <div class="banner-buttons-right">
                <a href="{% url 'admin_dashboard' %}" class="button">Admin Dashboard</a>
            </div>
        </div>
    </div>
</body>
</html>
<br>
