{% include 'partials/banner.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Devices</title>
</head>
<body>
    <h1>Available Free Devices</h1>
    
    <ul>
        {% if free_devices %}
            {% for device in free_devices %}
                <li>
                    {{ device.serial_number }} - {{ device.get_device_type }}
                    <form method="post" action="{% url 'reserve_device' device.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Reserve Now</button>
                    </form>
                </li>
            {% endfor %}
        {% else %}
            <li>Sorry, no devices available! <a href="{% url 'waitlist_page' %}">Click here to be added to the waitlist!</a></li>
        {% endif %}
    </ul>
</body>
</html>
